<a href="https://colab.research.google.com/github/changsksu/IMSE_Data_Science/blob/main/0_Input_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In this demo, two ways to input a data file include: 
1. from your local machine 
2. from google drive 
3. from a Github cloud space

Then data file is assigned into a Pandas table where the data and its structure is displayed

# Method 1. import data from your local machine

In [ ]:
# click on Choose File to read in a data file from you local machine
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving brain_size.csv to brain_size.csv
User uploaded file "brain_size.csv" with length 1801 bytes

In [ ]:
#Inspect the downloaded file.
!cat brain_size.csv

In [ ]:
# pandas provides a better view of structured data with headings
# data is assigned to the pandas object called data1
import pandas as pd
data1 = pd.read_csv('brain_size.csv', sep=';', na_values=".")
data1

# Method 2. Mount Google Drive to this session

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#the 2nd read option assume that the data file is rignt under your default google drive directory
#note that the path is case sensitive
#use a text editor such as notepad to see the seperator dividing data
#go the 1st read option for local file: see the Read data from local file notebook for an example
import pandas as pd
data2 = pd.read_csv('drive/My Drive/Colab Notebooks/IMSE_Data_Science/Data/paper_strength.csv', sep=',', na_values=".")

data2

#Method 3. Retrieve data from the cloud such as Github

In [14]:
# make sure that you use the raw format in Github
# the data is under Dr. Chang's github changsksu folder KState_IMSE541
# use the URL once you find or store the data file (use the raw tab)
# the following input statement is needed to use pandas dataframe feature
import pandas as pd
data3 = pd.read_csv('https://raw.githubusercontent.com/changsksu/KState_IMSE541/main/brain_size.csv', sep=';', na_values=".")
# the foloowing statement only retrieves the first 5 obs
data3.head()

   Unnamed: 0  Gender  FSIQ  VIQ  PIQ  Weight  Height  MRI_Count
0           1  Female   133  132  124   118.0    64.5     816932
1           2    Male   140  150  124     NaN    72.5    1001121
2           3    Male   139  123  150   143.0    73.3    1038437
3           4    Male   133  129  128   172.0    68.8     965353
4           5  Female   137  132  134   147.0    65.0     951545

In [9]:
# this statement retrieve one column in teh data3 dataframe
x3=data3["Weight"]
x3.head()

0    118.0
1      NaN
2    143.0
3    172.0
4    147.0
Name: Weight, dtype: float64

In [10]:
# numpy demo related to mean and std
import numpy as np
np.mean(x3)

151.05263157894737

In [16]:
n=len(x3)
n

40

In [17]:
x3_mean=np.sum(x3)/n
x3_mean

143.5

# Why do x3_mean and np.mean generate different answers? 

Ans. there are missing values (NaN) in the data set

In [18]:
np.std(x3)

23.167521922341212

In [20]:
np.std(x3, ddof=1) #ddof=1 so that N-! is used in the diviser

23.478509286005146

# Which np.std function should be used?

Ans. use the unbiased estimator with ddof=1 option