<a href="https://colab.research.google.com/github/changsksu/IMSE_Data_Science/blob/main/Python_DataType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Some basic python jupyter notebook commands:
- Use ctrl + enter key to run each cell.
- Use shift + enter key to run each cell and go to next cell
- Use alt + enter key to run each cell and create a new cell 
- Change format of each cell to:

    1\. Code: to run it as a code.
    
    2\. Markdown to convert Markdown text to HTML. 
    
    3\. Raw NBConvert; to render different code formats into HTML or LaTeX

This material is for IMSE 441 students created by Mohammad Najjartabar Bisheh

## Please use markdown in your assignments.
### Here is a great cheetsheet: (http://nestacms.com/docs/creating-content/markdown-cheat-sheet)

In [ ]:
print ('hello '); print ('world... '); print ('bye ')

# Python Libreries
# this is for those who uses Jupiter notebook on local machines

In [ ]:
pip list

In [ ]:
conda list

# Variables

In [ ]:
a = '23354.4'
b = int(float(a))
c = float (b)

In [ ]:
print(type(a))
print(type(b))
print(type(c))

# Data Types

#### 1- Do not use reserved names such as if, while, def, class, elif, finally, ... as your variable name!

#### 2- Your variable name should not include special characters like  $ # @ ! ^ -

#### 3- Variable names must start with a letter!

In [1]:
d = None
type(d)

NoneType

## Integers

In [2]:
a = 14
print(a)
print(type(a))

14
<class 'int'>

## Float

In [3]:
pi = 3.14159265359
print(pi)
print(type(pi))

3.14159265359
<class 'float'>

In [4]:
a = 5
b = 8.33333333

In [5]:
sum = a + b
print(sum)
print("%.2f" % sum)

13.33333333
13.33

## Strings

In [6]:
quote = 'Two there are who are never satisfied -- the lover of the world and the lover of knowledge'
author = "Rumi"
print(quote, "--->", author)
print(type(quote))

Two there are who are never satisfied -- the lover of the world and the lover of knowledge ---> Rumi
<class 'str'>

In [7]:
s = "hello world"
print(s)
print(s[:8])
print(type(s))

hello world
hello wo
<class 'str'>

In [8]:
# Print the last letter in s

In [9]:

my_name = "Mohammad"
my_height = 177

print ("%s is %s cm tall" % (my_name, my_height) )

Mohammad is 177 cm tall

In [ ]:
# Create three variables (string, integer, float)
# display them
# display the sum of integer and float
# concantenate all three values in a single line

## Booleans (to be or not to be)

### Boolean logical operators:

#### and: Will evaluate to True only if both statements are True

#### or: Will evaluate to True if at least one (but not necessarily both) statements is True

#### not: Reverses the result of the statement

In [ ]:
a = 2
b = 5
a == b

In [ ]:
type(a == b)

In [ ]:
# Changing data type
print(a)
print(type(a))
a_str = str(a)
print (a_str)
print(type(a_str))
a_float = float(a_str)
print(a_float)
print(type(a_float))

# Python in-built data Structure
- List
- Tuple
- Set
- Dictionary

## List

### List items are ordered, changeable, and allow duplicate values.

In [ ]:
Mylist = ["Quality", "Time", "Cost"]
print(Mylist)

In [ ]:
Mylist[2]

In [ ]:
# Nested List
nested_list = ['A', 2022, 'A',["Quality", "Time", "Cost"]]

In [ ]:
#CHangable
Mylist[2] = "Speed"
Mylist

In [ ]:
# Use list and create a 3x3 matrix

## Tuple

### Tuple items are ordered, unchangeable, and allow duplicate values.

In [ ]:
Mytuple = ["Quality", "Time", "Cost"]
print(Mytuple)

In [ ]:
# How to change a tuple? simply convert it to a list and then do whatever you want!

Mytuple = list(Mytuple)

## Set

### Set items are unordered, unchangeable, and do not allow duplicate values.

In [ ]:
Myset = {"Quality", "Time", "Cost"}
print(Myset)

## Dictionaries

### Dictionaries are used to store data values in key:value pairs.

### A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [ ]:
Mydict = {"Quality": "9", "Time": "10", "Cost": "6"}
print(Mydict)

In [ ]:
# Dictionary Length

print(len(Mydict))

In [ ]:
# Create two lists, tuples, sets, and dictionaries and try to join them together in a new variable
# For list and tuple you can simply sum them up and for set you need to use function 'union'