<a href="https://colab.research.google.com/github/changsksu/IMSE_Data_Science/blob/main/SQLite_Intro_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This code aims to demonstate how a simple database and a table can be created
SQLite is used

In [1]:
#
import sqlite3

In [2]:
# the name of the db is called testdb.db
# SQLite will create this db if it does not exist, otherwise it will be connected
conn=sqlite3.connect('testdb.db')
#c=conn.cursor()

In [3]:
# the name of the table is called City
# all datat based reserve words are in capital letters for clarification
conn.execute('CREATE TABLE IF NOT EXISTS City(Name TEXT, Population REAL)')

In [4]:
# we add the data entry into the table City
conn.execute("INSERT INTO City VALUES('Manhattan', 60000)")
conn.commit()

In [5]:
# insert the 2nd record
conn.execute("INSERT INTO City VALUES('Salina', 20000)")
conn.commit()

In [6]:
#
outcome=conn.execute("SELECT * FROM City")
for row in outcome:
    print(row)

('Manhattan', 60000.0)
('Salina', 20000.0)